@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Roboto';}
body{background-color: #030514;}
.all { display: flex; flex-direction: column; justify-content: center; align-items: center;}
header { display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: right; color: white; margin-top: 600px; margin-bottom: 30px; font-size: 40px; margin-top: 30px; width: 77%;}

.section-flex {display: flex; justify-content: center; align-items: center; flex-wrap: wrap; margin-bottom: 5px;}
section { display: flex; justify-content:space-evenly; width: 600px; height: auto; background-color: #296CF2; padding: 5px; margin: 5px; border-radius: 3px;}
button { width: 200px; height: 120px; margin-top: 10px; margin-bottom: 10px; border-radius: 2px; border-style: none; background-color: black; color:white; font-size: 25px;}
button:hover { cursor: pointer; background-color: white; color: black;}
p { color: white; font-size: 25px;}
.경과시간flex span { color: white;  font-size: 30px;}
ol { color: white; font-size: 25px; list-style: none;}
.시계위치 { color: white;  display: flex; justify-content: center; align-items: center;}
.시계위치 p { font-size: 2em; border-radius: 3px; padding: 10px; color: white;}
.선택됨 { background-color: #F08F41;}
.경과시간flex { display: flex; justify-content: center; align-items: center;}
.초기화버튼 { width: 40px; height: 20px; background-color: #296CF2; color: #ffffff; margin-left: 10px; margin-top: 35px; font-size: 10px;}

@media (max-width: 500px){
  section {
    width: 300px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: auto;
  }

  button {
    width: 270px;
    margin-left: 10px;
  }

  .경과시간flex {
    margin-top: 10px;
    margin-bottom: 20px;
    
  }


  ol {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


}

